.statistics {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.9176470588235294);
  box-shadow: 0 0 6px 0 #adacac;
  overflow: hidden;
}

.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.statsList {
  display: flex;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 5);
  padding: 20px;
  color: #e7ecf2;
}

.item:not(:last-child) {
  border-right: 1px solid #e7ecf2;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.percentage {
  font-size: 22px;
  font-weight: 500;
}
